* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: #5D5D7D;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  display: inline-block;
}



